
.icon-left-open-big:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-dribbble:before { content: '\e804'; } /* '' */
.icon-reddit:before { content: '\e805'; } /* '' */